/*
    Este arquivo é responsavel pelo
    estilo do projeto. Não usamos classes
    estilizamos apena utilizando tags

    Esse projeto é um projeto simples que 
    focamos mais no conteudo do que na estilização,
    o objetivo desse projeto é iniciar os programadores
    em um projeto open-source para eles ganharem experiencia.

*/
body{
    background-color: #ccc;
}

h1{
    padding: 10px;
    width: auto;
    margin-top: 20px;
    border: 2px solid #000;
    border-radius: 20px;
    background-color: white;
}

div{
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    border-radius: 15px;
    height: auto;
    width: 50%;
    min-width: 250px;
    max-width: 700px;
    margin: 20px auto;
}

article{
    width: 70%;
    min-width: 250px;
    max-width: 900px;
    margin: 20px auto;
    padding: 10px;
    background-color: white;
    border: 2px solid #000;
    box-shadow: 10px 10px 10px;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 2.5em;
}

h3{
    font-size: 2.2;
}

p{
    font-size: 1.2em;
}

code{
    background-color: #333;
    color: white;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: 10px solid green;
    padding: 10px;
    font-size: 1em;
    font-family: sans-serif;
}
